@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
/* index.css */
body.dark {
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ensure the navigation bar doesn't overflow on small screens */
nav {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/* Adjust padding for smaller screens */
@media (max-width: 768px) {
  nav {
    padding: 1rem;
  }
}